.container {
    width: 100%;
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .inputField {
    font-size: 16px;
  }

  .inputcontainer{
    position: relative;
    margin-top: 15px;
    margin-bottom: 10px;

  }

  .errormessage{
    position: absolute;
    /* text-align: center; */
    color: rgb(240, 69, 69);
    font-size: clamp(0.75rem, 1.5vw, 1rem);
    line-height: 19px;
  }


  .successmessage{
    position: absolute;
    top: 24%;
    /* text-align: center; */
    left: 50%;
    transform: translateX(-50%);
    color: #19d225;
    text-wrap: nowrap;
  }
  
  .submitButton {
    background-color: #1976d2 !important;
    color: white !important;
    font-weight: bold !important;
    margin-top: 15px !important;
  }
  

  @media (max-width: 426px) {
    .container{
        width: 75%;
    }
  }