.maincontainer {
    margin-top: 70px;
    padding: 20px;
    background-color: #fffffa;
    border-radius: 8px;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
    width: 100vw;
    /* height: 90vh; */
}

.innerDiv{
    display: flex;
    gap: 5px;
    width: 100%;
    height: 100%;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
}

.inputfields {
    width: 50%;
    /* border: 2px solid red; */
}

.inputfields .inputform{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    /* border: 2px solid rgb(0, 85, 255); */
}

.inputform h1{
    font-size: clamp(16px, 4vw, 28px);
    text-align: center;

}

.inputform .individualTextDiv{
    width: 70%;
    height: 80px;
    /* border: 2px solid rgb(255, 0, 47); */

}

.inputform .individualTextDiv > p.error {
    color: red;
    font-size: 14px;
    margin-top: 5px; 
}

.inputform .individualTextDiv .inputfield{
    width: 100% !important;
    height: 60% !important;
}


.cartDiv{
    width: 50%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid red; */
    height: 90%;
    gap: 10px;
    padding: 10px;
}

.cartinnerDiv{
    background: #ffffff;
    width: 50%;
    border-radius: 16px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.267);
}

.cartinnerDiv div:nth-child(1){
   background: #1976d2;
   color: #ffffff;
   text-align: center;
   border-top-left-radius: 16px;
   border-top-right-radius: 16px;
   padding: 5px 0;
}

.cartDiv .cartinnerDiv div:not(:first-child){
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartinnerDiv div p{
    font-size: clamp(12px, 2.5vw, 24px);
    font-weight: 500;
}

.cartinnerDiv div span{
    font-size: 20px;    
}

.productListPayment{
 display: flex;
 flex-direction: column;
 gap: 10px;
 max-height: 65vh;
 /* border: 2px solid red; */
 width: 70%;
 margin-bottom: 20px;
}


.productListPayment .innerdiv{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    overflow:  scroll;
    /* border: 2px solid red; */
    gap: 10px;
}

::-webkit-scrollbar{
    display: block !important;
  }

.cartItem {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    /* border: 2px solid rgb(43, 255, 0); */
    height: 200px;
    gap: 10px;

}

/* Cart Item Hover Effect */
.cartItem:hover {
    transform: translateY(-2px);
}

.cartItem .imgwrapper{
    width: 30%;
    /* border: 2px solid blue; */
    height: 100%;
}

.cartItem .imgwrapper img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.productInfo{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: clamp(.5rem, 1vw, 1.75rem);
    /* border: 2px solid rgb(255, 0, 0); */
    height: 100%;
}

.productInfo p{
    font-size: clamp(12px, 1.1vw, 18px);
    font-weight: 500;
}

.productInfo p span {
    font-size: clamp(12px, 2vw, 18px);
    color: #333536a4;
    font-weight: 600;
}

.productInfo p:nth-child(1) {
    font-size: clamp(12px, 2vw, 18px);
    /* font-weight: 600; */
    color: #2c3e50;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    white-space: wrap;
    width: 100%;
    overflow: hidden;
    line-height: 1.1;
}


@media (max-width:769px){
    .inputfields {
        width: 50% !important;
        /* border: 2px solid red; */
    }

    .productListPayment{
        width: 100%;
    }

    .cartDiv {
        /* border: 2px solid red; */
        width: 50% !important;
    }

    .cartItem .imgwrapper{
        width: 40%;
        height: 100%;
    }
    
    .cartItem .imgwrapper img{
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }

    .productInfo p{
        font-size: clamp(12px, 2vw, 18px);
    }
    
    .productInfo p span {
        font-size: clamp(12px, 2vw, 18px);
    }
    
    .productInfo p:nth-child(1) {
        font-size: clamp(12px, 2vw, 18px);
    }


}

@media (max-width: 426px) {
    .innerDiv{
        flex-direction: column;
    }

    .inputfields{
        width: 100% !important;
        /* border: 2px solid red; */
    }

    .inputform{
        gap: 0px;
    }

    .inputfields h1{
        font-size: 24px;
    }

    .individualTextDiv {
        width: 100% !important;
        height: 70px !important;
    }

    .individualTextDiv .inputfield{
        height: 20% !important;
    }

    .cartDiv{
        width: 100% !important;
    }


    .cartinnerDiv{
        width: 100%;
    }

    .cartinnerDiv div:nth-child(1) p{
        font-size: 25px;
    }

    .cartinnerDiv div p{
        font-size:18px;
        font-weight: 500;
    }
    
    .cartinnerDiv div span{
        font-size: 20px;    
    }

    .cartItem{
        width: 100%;
    }

    .productInfo p{
        font-size: clamp(12px, 3.5vw, 18px);
    }
    
    .productInfo p span {
        font-size: clamp(12px, 3vw, 18px);
    }
    
    .productInfo p:nth-child(1) {
        font-size: clamp(12px, 4vw, 18px);
    }
}