.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 100%;
    overflow: hidden;
}
  
  .carouselInner {
    display: flex;
    transition: transform 0.8s ease-in-out; 
    width: 100%; 
    height: 100%;
  }


  .image {
    width: 100vw;
    height: 100%;
    object-fit: cover; 
   filter: brightness(0.8);
    display: block; 
  }

  .carouselButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: white;
    border: none;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    z-index: 10; 
    opacity: 0.8;
    font-size: 20px;
  }
  
  .prevButton {
    left: 20px;
    transform: rotate(90deg);
    text-decoration: overline;
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
  }
  
  .nextButton {
    right: 20px;
    transform: rotate(90deg);
    text-decoration: underline;
    text-underline-offset: 7px;
    text-decoration-thickness: 2px;
  }

  @media (max-width: 426px) {
    .carousel{
      width: 100%;
      height: 350px;
    }

    .carouselInner{
     filter: brightness(1.5);
    }

    .image {
      width: 100%;
      height: 100%;
      /* object-fit: contain;  */
     filter: brightness(0.7);
     object-fit: cover; 
     /* display: block; */
     /* object-position: center; */
     /* aspect-ratio: 16/9; */
    }

    .carouselButton{
      color: rgba(0, 0, 0, 0.276);
    }

    .prevButton{
      left: 0px;
    }

    .nextButton{
      right: 0px;
    }
  
  }