  .footmain {
    /* height: 350px; */
    /* border: 2px solid red; */
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background: #1f2937; */
    background: #e5e7eb;
    padding: clamp(10px, 2vw, 30px);
}

.footmain .footinner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 90%;
    padding: clamp(10px, 2vw, 20px);
    /* border: 2px solid red; */
}

.footinner .sections {
    width: 31%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    /* border: 2px solid red; */
}

.footinner .sections .companyheading {
    font-size: clamp(18px, 3vw, 26px);
    font-weight: 600;
    color: #1f2937;
    white-space: nowrap;
}

.footinner .sections .subHeading {
    font-size: clamp(16px, 2.5vw, 22px);
    font-weight: 500;
    margin-bottom: clamp(5px, 2vw, 20px);
    color: #1f2937;
    white-space: nowrap;
}

.footinner .sections ul {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    /* border: 2px solid red; */
    gap: clamp(10px, 2vw, 20px);
}

.footinner .sections ul li {
    font-size: clamp(14px, 2vw, 18px);
    color: #1f2937;
    white-space: nowrap;
    cursor: pointer;
}

.footinner .sections ul li:is(:hover) {
    font-size: clamp(14px, 2vw, 18px);
    color: #99a1b5;
}

.footmain .copyrightDiv {
    border-top: 1px solid #1f2937;
    width: 100%;
    padding: clamp(10px, 2vw, 20px) 0;
    text-align: center;
}

.footmain .copyrights {
    font-size: clamp(14px, 2vw, 18px);
    color: #1f2937;
}

/* Media Query for smaller screens */
@media (max-width: 426px) {
    .footmain .footinner {
        align-items: start;
        flex-direction: column;
        gap: clamp(10px, 2vw, 20px);
    }

    .footinner .sections .subHeading {
        margin-bottom: clamp(2px, 1vw, 5px);
    }

    .footinner .sections ul {
        gap: clamp(5px, 1.5vw, 10px);
    }
}
